
#header{
    background: linear-gradient(70deg,darkslategrey,black);
    font-family: 'Bodoni MT Condensed';
    line-height: 45px;
    height: 80px;
    width: 100%;
    padding: 15px;
    margin-bottom: 2px;
}
#main{
    background: linear-gradient(70deg,darkslategrey,black);
    color: white;
    height: 550px;
    width: 65%;
    float: left;
    padding: 10px;

}
#sidebar{
    background: linear-gradient(70deg,darkslategrey,black);
    padding: 10px;
    height: 550px;
    width:  35%;
    float: left;
    margin-bottom: 2px;
}
#footer{
    color: aliceblue;
    background: linear-gradient(70deg,darkslategrey,black);
    padding: 10px;
    text-align: center;
    height: 50px;
    width: 100%;
    clear: both;
    font-weight: bold;
}
div{
    box-sizing: border-box;
}
.box{
    font-size: 30px;
    background: orange;
    border-radius: 10px ;
    padding: 5px;
}
.bigbox{
    border-radius: 10px;
    background: black;
    padding: 25px;
}
.phim{
    font-size: 30px;
    color: aliceblue;
}
#headlink{
    background: linear-gradient(70deg,darkslategrey,black);
    font-weight: bold;
    position: relative;
    font-size: 17px;
    text-align: center;
}
#vid1 {
    border-radius: 10px;
    height: 150px;
    width: 100%;
}
#vid2{
    border-radius: 10px;
    height: 150px;
    width: 100%;
}
#vid3{
    border-radius: 10px;
    height: 150px;
    width: 100%;
}
#vidmain{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}


